{% extends "base_page.html" %}

{% block content %}

<h1> 
	Create a Writeup </h1>

<form action="{{ url_for('new_writeup', training_id=training_id, challenge_id=challenge_id ) }}" method="POST"> 
	Challenge:
	<br>
	<input type="text" value="{{challenge_name}}" disabled="true">

	Training:
	<br>
	<input type="text" value="{{training_name}}" disabled="true">

	<br> 

	<textarea name="content" id="writeup_content">{{content}}</textarea>
	<br>

	<input id="submit_button" type="submit" value="Save Writeup"> 
</form>

<script src="{{url_for('static', filename='codemirror/mode/markdown/markdown.js')}}"></script>
<script src="{{url_for('static', filename='codemirror/addon/display/fullscreen.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='codemirror/addon/display/fullscreen.css')}}">
<script>
var editor = CodeMirror.fromTextArea(document.getElementById("writeup_content"), {
      lineNumbers: true,
      extraKeys: {
        "F11": function(cm) {
          cm.setOption("fullScreen", !cm.getOption("fullScreen"));
        },
        "Esc": function(cm) {
          if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
        }
      }
    });
</script>
{% endblock %}