{% extends "base_page.html" %}

{% block content %}

<h1> Reset Your Password</h1>
      
<p>
  If you have forgotten your password, hopefully you let an administrator know, so they could give you a temporary password. Now it is up to you to change it back to what you would like it to be.
</p>
<br>

<form method="POST" action="{{url_for('reset_password')}}">
  Old Password: <br>
  <input type="password" name="old_password" value="{{old_password}}"> <br>
  <br> 
  New Password: <br>
  <input type="password" name="new_password" value="{{new_password}}"> <br>
  <br> 
  Confirm New Password: <br>
  <input type="password" name="confirm_new_password" value="{{confirm_new_password}}"> <br>
  <br>
<input type="submit" value="Register" id="submit_button">
</form>


{% endblock %}